exportPattern("^[[:alpha:]]+")
import(dplyr)
import(tidyverse)
import(xlsx)
importFrom(Biostrings, vmatchPattern)
importFrom(berryFunctions, insertRows)
importFrom(magrittr,  "%>%")
importFrom(heatmaply, heatmaply)
importFrom(tm, removeNumbers)
